.container {
  background-color: rgb(161, 203, 255);
  padding: 10px;
  margin-top: 10px;

  /* margin: 10px 20px 10px 20px; */
  /* font-family: serif; */
}

.row {
  padding-top: 20px;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 20px;
}

.list-group {
  margin-top: 10px;
}

#compose-btn {
  margin-top: 10px;
  margin-bottom: 5px;
}

#menu-col {
  display: none;
}

#nav-dropdown {
  display: block;
}

#reply-buttons {
  margin-top: 10px;
}

@media (min-width: 768px) {
  #menu-col {
    display: block;
  }

  #nav-dropdown {
    display: none !important;
  }
}